.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.nav-bar-left {
  display: flex;
  flex-direction: row;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
}

.nav-bar-item {
  height: 30px;
  padding: 6px 25px 0 25px;
  cursor: pointer;
  border-bottom: 2px solid rgb(214, 209, 209);
  text-decoration: none;
  color: black;
}

.nav-bar-item:hover {
  background-color: rgb(241, 239, 239);
}

.nav-bar-left .nav-bar-item,
.nav-bar-item-user {
  font-weight: 500;
}

.nav-bar-item-logout {
  font-weight: 490;
}

.nav-bar-item-active {
  border-bottom: 2px solid;
}

.nav-bar-item-center {
  flex-grow: 1;
  border-bottom: 2px solid rgb(214, 209, 209);
}
